@-ms-viewport {
    width: device-width;
    zoom: 1.0;
}

@-o-viewport {
    width: device-width;
    zoom: 1.0;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

html {
    background-color: #edf3ff;
}

.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 833px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.top-container {
    animation: 1s ease-in transitionFromTop;
}

@keyframes transitionFromTop {
    from {
      opacity: 0;
      -webkit-transform: translateY(-350px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

h1 {
    font-family: "Montserrat";
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

#info {
    margin: 20px;
    min-width: 260px;
    max-width: 489px;
}

#summary {
    font-family: "Arimo";
    font-size: 20px;
}

#image {
    width: 304px;
    margin-left: auto;
    margin-right: auto;
}

#image img {
    border-radius: 50%;
    border: 2px solid black;
    height: 300px;
    width: 300px;
}

/* Above CSS is for picture and info box, below is for the drop down files */

.bottom-container {
    animation: 1s ease-in transitionFromBottom;
}

@keyframes transitionFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(350px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

.links {
    width: 150px;
    border: 2px solid none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Arimo";
    margin-bottom: 20px;
}

#resume {
    color: #fca820;
    border: 2px solid #fca820;
}

#email {
    color: #20b255;
    border: 2px solid #20b255;
}

#github {
    color: #24292e;
    border: 2px solid #24292e;
}

#linkedin {
    color: #0077B5;
    border: 2px solid #0077B5;
}

#resume:hover, #email:hover, #github:hover, #linkedin:hover {
    transform: scale(1.3, 1.3);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.linkImage {
    width: 40px;
    height: auto;
    margin-bottom: 7px;
}

/* Styling anchors */
.aStyle {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}